* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(89, 91, 97) !important
}

body.rtl {
    direction: rtl;
}

header {
    background-color: springgreen;
    color: gold;
    background-image: url("../img/header-bg.png");
    height: 15vh;
    border: rgb(37, 2, 2) solid 1px;
    border-radius: 2px;
    text-align: center;
}

h1 {
    margin-top: 44px !important;
    display: inline-block;
}

table {
    border: solid black 1px;
    background-color: greenyellow;
    border-collapse: collapse;
    margin: auto;
}

th {
    border: solid black 1px;
    text-align: center;
}

td {
    border: solid black 1px;
    text-align: center;
}

td button{
    width: 110px
}


.top-btn-container {
    display: flex;
    justify-content: space-between;
    width: 100vh;
}

.main-container {
    width: 100vh;
    margin: auto;
}

.books-container {
    margin: auto;
}

.book-cover {
    height: 100px;
}

/* Rate Book (in description) */

.rate-container {
    flex-grow: 1;
    text-align: start;
    display: flex;
    text-align: center;
} 

.value-button {
    width: 40px;
    height: 30px;
}

.value-number {
    width: 40px;
    height: 30px;
}